.introduction-container {
    width: 50%;

    .introduction-text {
        margin: 0;

        .introduction-paragraph {
            font-size: 16px;
            font-weight: 400;
            line-height: 2.2;
            margin: 15px 0 0 0;
        }
    }
}

@media (max-width: 768px) {
    .introduction-container {
        width: 80%;
    }
}