@import '../../styles/Global.scss';

.contact-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align: start;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--main-text-color);;

        .contact-detail-title {
            font-weight: 600;
            font-size: 14px;
            color: var(--main-text-color);;
        }

        .contact-detail {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            color: var(--text-links);
        }
    }

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        animation: fadeIn 2s forwards;

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .input-container {
            padding-bottom: 15px;
            display: flex;
            flex-direction: column;

            .input-label {
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 14px;
                color: var(--main-text-color);;
            }

            .input,
            .textarea {
                height: 40px;
                width: 70%;
                padding: 0;
                border: none;
                background-color: var(--inputs-color);
                color: var(--text-links);
                resize: none;

                &::placeholder {
                    font-size: 14px;
                    padding-left: 15px;
                    color: var(--links-color);
                }

                &:focus {
                    background-color: var(--inputs-color);
                    outline: none;
                }
            }

            .textarea {
                height: 150px;

                &::placeholder {
                    padding-top: 15px;
                    color: var(--links-color);
                }

                &:focus {
                    background-color: var(--inputs-color);
                    outline: none;
                }
            }
        }

        .button-container {
            width: 70%;
            margin-top: 30px;
            display: flex;
            justify-content: flex-end;

            button {
                padding: 10px 20px;
                font-size: 14px;
                font-weight: 600;
                background: var(--bg-btn-filter);
                color: #ffffff;
                border-radius: 8px;
                border: none;
                cursor: pointer;
                transition: opacity 0.6s ease;
            
                  &:hover {
                    opacity: 0.6;
                    box-shadow: inset 0 0 0 1px var(--border-btn-filter);
                  }
            }
        }
    }
}

@media (max-width: 1024px) {
    .contact-container {
        width: 90%;

        .contact-info {
            flex-direction: column;
            margin-bottom: 50px;
            border-bottom: none;

            .contact-detail {
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .contact-container {
        width: 90%;

        .contact-info {
            margin-bottom: 0;

            .contact-detail {
                letter-spacing: 0;
            }
            .contact-detail-title {
                font-size: 12px;
            }
        }

        .form {
            .input-container {

            .input-label {
                font-size: 12px;
            }

                .input,
                .textarea {
                    width: 100%;
                }
            }

            .button-container {
                width: 100%;
            }
        }
    }
}