@import '../../styles/Colors.scss';

.contact-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    justify-content: center;

    .contact-title {
        width: 100%;
        font-size: 2rem;
        margin: 0 0 50px;
        font-weight: 300;
        text-align: start;
        color: rgb(159, 166, 164);
    }

    .contact-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align: start;
        justify-content: space-between;
        margin-bottom: 20px;

        .contact-detail-title,
        .contact-detail {
            font-size: 12px;
            color: $contact-color;
        }

        .contact-detail {
            font-weight: 600;
            letter-spacing: 1px;
        }
    }

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        animation: fadeIn 2s forwards;

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .input-container {
            padding-bottom: 15px;
            display: flex;
            flex-direction: column;

            .input-label {
                color: $contact-color;
                font-size: 12px;
            }

            .input,
            .textarea {
                width: 100%;
                padding: 10px 0;
                border: 1px solid rgb(240, 240, 240);
                outline: none;
                resize: none;
            }

            .textarea {
                height: 90px;
            }
        }

        .button-container {
            display: flex;
            justify-content: flex-end;

            button {
                font-size: 24px;
                font-weight: 300;
                background: none;
                color: rgb(159, 166, 164);
                border: none;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 768px) {
    .contact-container {
        width: 80%;
        .contact-title {
            font-size: 1.8rem;
        }

        .contact-info {
        }

        .form {

            .input-container {

                .input,
                .textarea {
                    text-align: center;
                }
            }

            .button-container {

                button {
                    font-size: 20px;
                }
            }
        }
    }
}