.home-about-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu-section-title {
        opacity: 0.1;
        width: 60%;
        font-size: 6rem;
        margin: 0 0 50px;
        font-weight: 900;
        text-align: start;
        color: rgb(0, 85, 142);
    }
}

@media (max-width: 1024px) {
    .home-about-container {
        .menu-section-title {
            font-size: 4rem;
            width: 90%;
        }
    }
}

@media (max-width: 768px) {
    .home-about-container {
        .menu-section-title {
            margin: 0 0 20px;
            font-size: 3rem;
            width: 90%;
        }
    }
}