// Variables default
$main-text-color: #6d6262;
$text-links: rgb(68, 70, 72);
$bg-letters: rgb(0, 85, 142);
$cursor-color: rgb(103, 95, 95);
$inputs-color: rgba(0, 85, 142, 0.1);
$hover-toggle-btn: #6d6262;
$hover-toggle-text: #fff;
$hover-menu-links: rgba(126, 110, 110, 0.967);
$bg-btn-filter: linear-gradient(45deg, #5a6d85, #84a8c9);
$border-btn-filter: black;

// Typography
$font-family-main: 'Montserrat', sans-serif;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-main;
  min-height: 100vh;
  margin: 0;
}

// TransitionGroup

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 800ms ease-in;
}

