@import '../../styles/Global.scss';

.contact-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .menu-section-title {
        opacity: 0.1;
        width: 60%;
        font-size: 6rem;
        margin: 0 0 50px;
        font-weight: 900;
        text-align: start;
        color: var(--bg-letters);
        cursor: default;
    }
}

@media (max-width: 1024px) {
    .contact-form-container {
      .menu-section-title {
        pointer-events: none;
        font-size: 4rem;
        width: 90%;
      }
    }
  }
  
  @media (max-width: 768px) {
    .contact-form-container {
      .menu-section-title {
        margin: 0 0 20px;
        font-size: 3rem;
        width: 90%;
      }
    }
  }