@import '../../styles/Colors.scss';

.contact-container {
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    display: flex;
    justify-content: center;

    .contact-title {
        width: 500px;
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 50px;
        font-weight: 300;
        text-align: start;
        color: rgb(159, 166, 164);
    }

    .info-container {
        width: 500px;
        display: flex;
        flex-direction: column;
        opacity: 0;
        animation: fadeIn 2s forwards;

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .contact-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: 400;
            line-height: 2;
            font-size: 18px;
            margin: 0;

            .contact-detail-title {
                font-size: 12px;
                color: $contact-color;
            }

            .contact-detail {
                font-size: 12px;
                color: $contact-color;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }
    }
}

@media (max-width: 768px) {

    .contact-container {

        .contact-title {
            font-size: 1.8rem;
            width: 300px;
        }

        .info-container {
            width: 300px;

            .contact-info {
                display: flex;
                flex-direction: column;

                .contact-detail {
                    padding-top: 25px;
                }
            }
        }
    }
}