@import '../../styles/Colors.scss';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 20% 30px 20%;

  .home-link {
    text-decoration: none;
  }

  .asterisk-symbol {
    display: flex;
    align-items: center;
    font-size: 50px;
    color: #6d6262;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

.menu {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 50px;

  .menu-links {
    font-size: 14px;
    letter-spacing: 5px;
    color: #6d6262;
    text-decoration: none;
    transition: color 1000ms;

    &:hover {
      color: $menu-color;
    }
  }
}

.menu-icon {
  background: none;
  border: none;
  display: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;

  &:focus {
    outline: none;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  nav {
    padding-top: 70px;
    padding-bottom: 50px;
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 30px 5% 50px;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    .menu {
      display: none;
    }

    .menu-icon {
      padding: 0;
      display: block;
      top: 56px;
      right: 7%;
      cursor: pointer;
      position: absolute;
      width: 30px;
      height: 18px;
      transition: transform 0.4s;
      z-index: 1002;

      .bar {
        width: 100%;
        height: 2px;
        background-color: #808080;
        position: absolute;
        transition: all 0.4s;
      }

      .bar:nth-child(1) {
        top: 0;
      }

      .bar:nth-child(2) {
        top: 8px;
      }

      .bar:nth-child(3) {
        top: 16px;
      }

      &.open .bar:nth-child(1) {
        transform: rotate(45deg);
        top: 8px;
      }

      &.open .bar:nth-child(2) {
        opacity: 0;
      }

      &.open .bar:nth-child(3) {
        transform: rotate(-45deg);
        top: 8px;
      }
    }
  }
}