@import '../../styles/Colors.scss';

.slide-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 100px;
  top: 0;
  bottom: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  transition: right 0.3s ease-in-out;
  z-index: 1001;
  overflow: hidden;

  &.open {
    right: 0;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    background: linear-gradient(120deg, #d6dadf, #e6e4d5f8, #f0e7ddf8);

    .grid {
      width: 100%;
      height: 100%;
      background-size: 100px 100px;
      background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.52) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.52) 1px, transparent 1px);
    }
  }

  nav {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 130px;

    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }

    .menu-links {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 5px;
      color: #6d6262;
      text-decoration: none;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 769px) {

  .slide-menu,
  .overlay {
    display: none;
  }
}