@import '../../styles/Global.scss';

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu-section-title {
    pointer-events: none;
    opacity: 0.1;
    width: 60%;
    font-size: 6rem;
    margin: 0 0 50px;
    font-weight: 900;
    text-align: start;
    color: var(--bg-letters);
    cursor: default;
  }

  .filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 60%;

    button {
      padding: 10px 20px;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 600;
      border-radius: 5px;
      background: var(--bg-btn-filter);
      color: #ffffff;
      border: none;
      cursor: pointer;
      margin: 0 10px;
      transition: opacity 0.6s ease;

      &:hover {
        opacity: 0.6;
        box-shadow: inset 0 0 0 1px var(--border-btn-filter);
      }
    }
  }

  .projects-container {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .projects {
    .menu-section-title {
      font-size: 4rem;
      width: 90%;
    }

    .filter-buttons,
    .projects-container {
      width: 90%;
    }
  }
}

@media (max-width: 768px) {
  .projects {
    .menu-section-title {
      margin: 0 0 20px;
      font-size: 3rem;
      width: 90%;
    }

    .filter-buttons {
      justify-content: space-between;
      flex-wrap: wrap;

      button {
        padding: 5px 8px;
        font-size: 12px;
        font-weight: 600;
        margin: 5px 3px;

        &:hover {
          background-color: rgb(30, 30, 33);
        }
      }
    }

    .projects-container {
      width: 90%;
    }
  }
}