@import '../../styles/Global.scss';

.footer {
  width: 60%;
  display: flex;
  justify-content: start;
  padding: 70px 20%;
  text-align: center;

  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0;
    gap: 14px;

    .social-link {
      text-decoration: none;
      font-size: 24px;
      color: var(--main-text-color);
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    width: 90%;
    padding: 70px 5%;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 50px 5% 20px;

    .social-links {
      font-size: 12px;
      gap: 12px;

      .social-link {
        display: flex;
      }
    }
  }
}