@import '../../styles/Colors.scss';

.footer {
  width: 60%;
  display: flex;
  justify-content: start;
  padding: 70px 20%;
  text-align: center;

  .footer-text {
    color: #6d6d6d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0;

    .footer-logo {
      margin: 0;
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    width: 90%;
    padding: 70px 5%;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 50px 5% 20px;

    .footer-text {
      font-size: 12px;

      .footer-logo {
        display: flex;
      }
    }
  }
}