.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    background: linear-gradient(120deg, #d6dadf, #e6e4d5f8, #fffffff8);
}

.grid {
    width: 100%;
    height: 100%;
    background-size: 100px 100px;
    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.52) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.52) 1px, transparent 1px);
}